
@import url("reset.css");
@import url("messages.css");

pre { border: 1px solid gray; margin: 0.5em; padding: 0.5em; }

/* Admin Infos */

#menu-admin {
  position: fixed;
  right: 0;
  bottom: 0;
  list-style-type: none;
  padding: 5px;
  opacity: 0.2;
}

#menu-admin:hover {
  opacity: 1;
}

#menu-admin li {
  display: block;
  border-left: 1px solid #ddd;
}

#menu-admin li:first-child {
  border-left: none;
}

#menu-admin a {
  display: block;
  float: right;
  margin: 0 5px 0 5px;
  padding: 3px 6px 3px 6px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  /*border-radius: 5px;*/
  color: #888;
}

#menu-admin a:hover {
  border: 1px solid #ccc;
  padding: 2px 5px 2px 5px;
  border-top-color: #eee;
  border-left-color: #eee;
  text-decoration: none;
  color: black;
}

/* Tables */

table.list {
  border-collapse:collapse;
  border-color:#777777 #444444 #444444 #777777;
  border-style:solid;
  border-width:1px;
  clear:both;
  width:100%;
  -moz-border-radius: 10px 10px 0;
  -webkit-border-radius: 10px 10px 0;
}

table.list td, table.list th {
  border: 1px dotted #555555;
  padding: 2px 5px;
}

table.list th{
  border-bottom: 2px solid gray;
  padding: 5px 2px;
}

table.list .tools {
  width: 0;
  white-space: nowrap;
}

/* Messages */

#msg-admin {
  position: absolute;
  left: 10px;
  top: 10px;
}

.msg-infos {
  position: relative;
  width: 5px;
  height: 5px;
  padding: 8px;
  border: 1px solid gray;
  text-align: center;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #eee;
  z-index: 10;
  font-size: 10px;
  margin-bottom: 2px;
}

.msg-infos-sub {
  width: 0px;
  height: 0px;
}

.msg-infos:hover {
  width: auto;
  min-width: 550px;
  height: auto;
}

.msg-infos > * { display: none; }
.msg-infos:hover > * { display: block; }

.msg-system {
  text-align: left;
  -moz-border-radius : 8px;
  -webkit-border-radius : 8px;
  /*opacity: 0.9;*/
  padding: 5px 5px 5px 20px;
  font-size: 1em;
  color: #888;
  width: 600px;
  /*background-color: #222;*/
  /*border: 1px solid gray;
  border-color: #999;
  border-bottom-color: #666;
  border-right-color: #666;*/
}

.msg-system li { 
  float: left;
  width: 140px;
  margin: 3px 0 3px 0;
  min-height: 5em;
  list-style-image: url(/web/img/puce_A_gray.png);
}

.msg-system strong { display: block; }


.msg-actions a.old-file { color: gray; }

.msg-actions .msg-action-label {
  float: left;
}

.msg-actions > * { float: left; }

.msg-actions .msg-action-hidden {
  
  float: left;
  height: 14px;
  width: 14px;
  border: 1px dotted gray;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  /*text-align: left;*/
  margin: 1px 0 0 5px;
  background-color: #dfdfdf;
}

.msg-actions .msg-action-variables { background-color: #B4D3AF; }
.msg-actions .msg-action-arguments { background-color: #A1A1D5; }
.msg-actions .msg-action-queries { background-color: #FFF1AF; }
.msg-actions .msg-action-hidden > span { color: white; text-align: center; }
.msg-actions .msg-action-files > span { color: gray; }
.msg-actions .msg-action-queries > span { color: #5F5F5F; }
.msg-actions .msg-action-queries > div > span { color: red; }

.msg-actions .msg-action-hidden > * { display: none; }
.msg-actions .msg-action-hidden > span { display: inline; font-size: 9px; }

.msg-actions .msg-action-hidden:hover {
  width: auto;
  max-width: 350px;
  overflow: auto;
  height: auto;
  padding: 5px;
  position: relative;
  text-align: left;
  background-color: #dfdfdf;
}
.msg-actions .msg-action-hidden:hover > * { display: block; }
.msg-actions .msg-action-hidden:hover > span { display: none; }

.msg-actions .msg-action-weights, .msg-actions .msg-action-sub-weights {
  float: left;
  clear: left;
  margin-left: 0;
  margin-right: 2px;
}

.msg-actions .msg-action-weights, .msg-actions .msg-action {
  margin-top: 5px;
}

.msg-actions .msg-action-stat {
  float: left;
  border: 1px solid gray;
  border-left: 0;
  width: 10px;
  height: 2em;
  text-align: center;
  font-size: 10px;
  cursor: default;
  color: #888888;
}

.msg-actions .msg-action-sub-weights > div:first-child, .msg-actions .msg-action-weights > div:first-child {
  border-left: 1px solid gray;
}

.msg-actions .msg-action-sub {
}

.msg-actions .msg-action + .msg-action { clear: left; }
.msg-actions .msg-action {
  float: left;
  clear: right;
  border: 1px solid gray;
  border-width: 1px 0 0 5px;
  padding: 2px;
  margin-left: 10px;
  padding-right: 0;
}

/* Hidden Elements */

#msg-admin .hidden {
  color: gray;
  margin: 0 !important;
  background-color: #FFF6CF !important;
  padding: 2px;
  display: none;
  position: relative;
  z-index: 8;
  max-width: 500px;
  overflow: auto;
}

#msg-admin div.element { display: inline; }
#msg-admin div.element pre { font-size: 1em; }
#msg-admin div.element:hover { background-color: orange !important; cursor: default; }
#msg-admin div.element:hover .hidden { display: block; }

#browser-warning img { float: left; margin-right: 5px; }
#browser-warning a { font-weight: bold; font-size: 0.9em; float: left; margin-top: 5px; }
#browser-warning p { white-space: nowrap; width: 380px; }
#browser-warning {
  overflow: hidden;
  position: absolute;
  top: -50px;
  left: 35%;
  width: 30px;
  padding: 1em 1em 0.5em 1em;
  opacity: 0.65;
  text-align: justify;
  font-size: 1.2em;
  background-color: white;
  color: black;
  border: 1px solid #777;
  font-style:italic;
}

/* ActionBuilder */

.sylma-window {
  background-color: #EFF5FA;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  text-align: left;
  padding: 7px;
  border: 1px solid gray;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
}

.sylma-window-head {
  border-bottom: 1px dotted gray;
  margin-bottom: 5px;
  padding-bottom: 4px;
}

.sylma-window-head h4 {
  display: inline;
  margin: 0;
  padding: 0;
  background-color: transparent;
  text-transform: none;
  color: gray;
}

.sylma-window-head a {
  
  float: right;
}

.sylma-window-head a {
  text-decoration: none;
}

