
form {
  width: 600px;
  margin: auto;
}

.field {
  margin-bottom: 0.5em;
}

.field label {
  display: block;
  float: left;
  vertical-align: top;
  width: 30%;
}

.field-uneditable,
.field-input-element {
  float: left;
  padding: 2px;
}

.field-input-element {
  border: 1px solid #ccc;
}

.field-input-element:focus {
  border-color: gray;
}

.field input[type=text], .field input[type=password], .field textarea {
  width: 50%;
}

.field textarea {
  height: 100px;
}

.field-notice-top {
  margin-bottom: 1em;
}

.field-notice {
  color: gray;
  font-size: 1em;
  font-style: italic;
  text-align: right;
}

.field-notice strong {
  color: black;
  font-size: 1.2em;
}

.field-actions {
  border-top: 1px dotted #ddd;
  margin-top: 1em;
  padding-top: 1em;
  text-align: center;
}

.field-statut-optional > label {
  color: #888;
}

.field-statut-optional.field-complex {
  opacity: 1;
}

.field-statut-optional:hover {
  opacity: 1;
}

.field-statut-invalid > h3,
.field-statut-missing > h3,
.field-statut-invalid > label,
.field-statut-missing > label {
  color: red;
}

.field-statut-invalid > .field-input-element,
.field-statut-missing > .field-input-element {
  border: 1px solid red;
}

.field-statut-template {
  display: none;
  _color: green;
}

.field-message {
  position: absolute;
  float:left;
  margin-left:49%;
  padding:2px 10px;
  font-size:0.9em;
  border:1px solid #CCCCCC;
  -moz-border-radius:0 10px 0 10px;
  -webkit-border-radius:0 10px 0 10px;
  background-color:#EEEEEE;
}

.field-input-boolean {
  float: left;
  margin-left:30%;
  margin-right:2%;
  width: auto !important;
}

span.field-input-date {
  float: left;
  cursor: pointer;
}

.field-add {
  margin: 0 0 5px;
}

.field-add > div {
  margin: auto;
  width: 330px;
  padding-left: 90px;
}

div.field-multiple,
div.field-complex {
  margin-bottom: 5px;
}

div.field-complex {
  margin: 1em 0;
  padding: 0 1em 0.5em;
  border: 3px solid #eee;
  border-width: 3px 1px 1px 3px;
  -moz-border-radius: 0 20px;
  -webkit-border-radius: 0 20px;
  opacity: 1;
}

div.field-multiple {
  padding: 10px;
  border: 2px solid #eee;
  border-width: 2px 1px 1px 2px;
  -moz-border-radius: 0 15px;
  -webkit-border-radius: 0 15px;
}

#content div.field-complex h3 {
  margin: 0.5em 0 1em;
  text-align: left;
  text-shadow: 2px 3px 1px #eee;
}

.sylma-field-loading {
  visibility: hidden;
  opacity: 0;
}

.field-file-container {
  width: 400px;
  margin: auto;
  margin-bottom: 1em;
}

.field-file-icone {
  width: 100px;
  height: 80px;
  margin-right: 1em;
  border: 1px solid #ccc;
  background: url(icones/file.png) no-repeat 50% 50%;
}

.field-file-icone img {
  margin: 2px;
}

.field-file-label {
  text-align: center;
  margin-left: 40px;
  padding: 1em 0;
  width: 220px;
}

.field-file-actions {
  border-top: 1px solid #EEEEEE;
  margin-top: 5px;
}

.field-file-extension-rar,
.field-file-extension-gzip,
.field-file-extension-zip {
  background-image: url(icones/zip.png);
}

.field-file-extension-rar.field-file-small,
.field-file-extension-gzip.field-file-small,
.field-file-extension-zip.field-file-small {
  background-image: url(icones/zip.png?width=16&height=16);
}

.field-file-extension-pdf {
  background-image: url(icones/pdf.png);
}

.field-file-extension-docx,
.field-file-extension-doc {
  background-image: url(icones/word.gif);
}

