
form {
  width: 600px;
  margin: auto;
}

.field {
  margin-bottom: 0.5em;
}

.field label {
  display: block;
  float: left;
  vertical-align: top;
  width: 30%;
}

.field-input-element {
  float: left;
  border: 1px solid gray;
  padding: 2px;
}

.field input, .field textarea {
  width: 50%;
}

.field textarea {
  height: 100px;
}

.field-actions {
  border-top: 1px dotted #ddd;
  margin-top: 1em;
  padding-top: 1em;
  text-align: center;
}

.field-statut-invalid label,
.field-statut-missing label {
  color: red;
}

.field-statut-invalid .field-input-element,
.field-statut-missing .field-input-element {
  border: 1px solid red;
}

.field-message {
  position: absolute;
  float:left;
  margin-left:49%;
  padding:2px 10px;
  font-size:0.9em;
  border:1px solid #CCCCCC;
  -moz-border-radius:0 10px 0 10px;
  background-color:#EEEEEE;
}

span.field-input-date {
  float: left;
  cursor: pointer;
}

.calendar-eightysix.osx-dashboard {
  height: 145px;
  width: 172px;
  margin-left: 5px;
  background-image: none;
  background-color: gray;
  opacity: 0.8;
  -moz-border-radius: 7px;
}

.calendar-eightysix.osx-dashboard .c86-wrapper { padding: 5px; }

.calendar-eightysix.osx-dashboard .c86-header .c86-label,
.calendar-eightysix.osx-dashboard .c86-body .c86-inner .c86-container .c86-row div.c86-selected { color: #ccc !important; }

.calendar-eightysix.osx-dashboard .c86-header .c86-label.c86-clickable:hover,
.calendar-eightysix.osx-dashboard .c86-body .c86-inner .c86-container.c86-month.c86-pickable .c86-row div:hover, 
.calendar-eightysix.osx-dashboard .c86-body .c86-inner .c86-container.c86-year-decade .c86-row div:hover,
.calendar-eightysix.osx-dashboard .c86-body .c86-inner .c86-container.c86-month .c86-row div.c86-outside:hover { color: #A6C4CA !important; }