
form {
  width: 600px;
  margin: auto;
}

.field {
  margin-bottom: 0.5em;
}

.field label {
  display: block;
  float: left;
  vertical-align: top;
  width: 30%;
}

.field-input-element {
  float: left;
  border: 1px solid gray;
  padding: 2px;
}

.field input[type=text], .field textarea {
  width: 50%;
}

.field textarea {
  height: 100px;
}

.field-notice {
  color: gray;
  font-size: 1em;
  font-style: italic;
  text-align: right;
}

.field-notice strong {
  color: black;
  font-size: 1.2em;
}

.field-actions {
  border-top: 1px dotted #ddd;
  margin-top: 1em;
  padding-top: 1em;
  text-align: center;
}

.field-statut-optional {
  opacity: 0.65;
}

.field-statut-optional:hover {
  opacity: 1;
}

.field-statut-invalid label,
.field-statut-missing label {
  color: red;
}

.field-statut-invalid .field-input-element,
.field-statut-missing .field-input-element {
  border: 1px solid red;
}

.field-message {
  position: absolute;
  float:left;
  margin-left:49%;
  padding:2px 10px;
  font-size:0.9em;
  border:1px solid #CCCCCC;
  -moz-border-radius:0 10px 0 10px;
  background-color:#EEEEEE;
}

.field-input-boolean {
  margin-left:30%;
  margin-right:2%;
  width: auto !important;
}

span.field-input-date {
  float: left;
  cursor: pointer;
}

div.field-complex {
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  -moz-border-radius: 15px 0px;
}
