/* Document CSS */

.sylma-ins-class h3 {
  font-size: 1.4em;
  font-style: italic;
  color : #467CA2;
  border-bottom: 1px dotted gray;
  text-align: center;
  padding-right: 20px;
  padding-bottom: 0.5em;
  
  clear: both;
}

.sylma-ins-class h4 {
  padding: 0;
  margin: 0;
  padding-right: 20px;
  float: right;
  clear: none;
}

li.sylma-ins-item {
  margin-left: 1.5em;
  _width: 90%;
  padding-left: 2em;
  list-style-type: none;
  float: left;
  clear: left;
  cursor: default;
  padding-right: 1em;
  background: url(images/bullet_green.png) no-repeat 0 2px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

li.sylma-ins-item:hover {
  background-color: #ddd;
  padding: 0.3em 1em 0.3em 2em;
}

li.sylma-ins-protected { background-image: url(images/bullet_orange.png); }
li.sylma-ins-private { background-image: url(images/bullet_delete.png); }

li.sylma-ins-group {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  padding-top: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-top: 1px solid #ddd;
  float: left;
  width: 100%;
}

.sylma-ins-cast {
  display: none;
}

li.sylma-ins-method:hover .sylma-ins-cast {
  display: inline;
}

.sylma-ins-basetype {
  font-family : Lucida console;
  color: #851919;
}

.sylma-ins-class code {
  background-color: #EEEEEE;
  border: 1px solid #CCCCCC;
  display: block;
  margin: 1em 0;
  padding: 0.5em;
  display: none;
}

.sylma-ins-required {
  _text-decoration: underline;
}

.sylma-ins-optional {
  opacity : 0.65;
  font-style: italic;
}

.sylma-ins-extends {
	opacity : 0.65;
}

.sylma-ins-extends:hover {
  opacity: 1.0;
}

.sylma-ins-comment {
  color: gray;
  font-style: italic;
  padding-left: 1em;
  border-left: 1px solid #ccc;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  _max-height: 4em;
  overflow: hidden;
}

.sylma-ins-item:hover .sylma-ins-comment {
  color: black;
  max-height: 100%;
}

.sylma-ins-comment ul {
  margin-left: 1em;
  margin-top: 0.5em;
  display: none;
}

.sylma-ins-item:hover code,
.sylma-ins-item:hover ul {
  display: block;
}

.sylma-ins-property .sylma-ins-comment p,
.sylma-ins-method .sylma-ins-comment p {
  margin-top: 0;
  margin-bottom: 0;
}

.sylma-ins-return {
  _margin-top: 0.5em;
}

.sylma-ins-return strong {
  color: #467CA2;
}

.sylma-ins-parameter .sylma-ins-name {
  _text-decoration: underline;
  font-weight: bold;
  color: gray;
}

.sylma-ins-dollar {
  opacity: 0.35;
  margin-right: -0.3em;
  display: none;
}
