
.explorer
{
  font-size: 1.2em;
  overflow: hidden;
  box-sizing: border-box;
  cursor: default;

  .loader
  {
    z-index: 5;
    pointer-events: none;
    position: absolute;
  }

  h2
  {
    margin-top: 0;
  }

  .sidebar,
  .view
  {
    box-sizing: border-box;
    min-height: 50em;
  }

  .sidebar
  {
    width: 10%;
    border-right: 1px solid #ddd;
    float: left;
    position: relative;
    height: 100%;

    .root
    {
      position: absolute;
      top: 0;
      margin-left: 100%;
      width: 100%;
      transition: all 0.2s;

      &.parent
      {
        margin-left: -100%;
      }

      &.visible
      {
        margin-left: 0;
      }
    }

    .children
    {
      overflow-y: auto;
      padding-right: 2%;
      margin-right: 2%;
    }

    .open
    {
      color: blue;
    }

    .view
    {
      width: 82%;
      padding: 2%;
      float: right;
    }

    .directory
    {
      .name
      {
        font-size: 1.2em;
      }
    }

    .directory,
    .file
    {
      display: block;
      padding: 0.5em 1em;
      border: 1px solid #eee;
      margin-bottom: 0.1em;
    }

    .directory
    {
      background-color: #fcefa1;
    }
  }

  .view
  {
    float: left;
    padding-left: 2em;
    width: 90%;
    height: 100%;
    position: relative;

    & > *:last-child
    {
      display: none;

      &.open
      {
        display: block;
      }
    }
  }

}