
@import "../html/vars.less";

html,
body
{
  overflow: hidden;
  height: 100%;
}

.explorer
{
  position: relative;
  display: flex;
  font-size: 1.2em;
  overflow: hidden;
  box-sizing: border-box;
  cursor: default;
  height: calc(~"100% - " @lemonav-height);

  .loader
  {
    z-index: 5;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
  }

  h2,
  h3
  {
    margin-top: 0;
  }

  .view
  {
    position: relative;
    box-sizing: border-box;
    overflow: auto;
    padding: 1rem;
  }

  .view-1
  {
    flex: 1 15%;
    min-width: 200px;
    border-right: 1px solid #ddd;
    padding: 0;

    & > .wrapper
    {
      position: relative;
      margin: 1rem;
    }
    
    .root
    {
      position: absolute;
      top: 0;
      margin-left: 100%;
      width: 100%;
      transition: all 0.2s;

      &.parent
      {
        margin-left: -100%;
      }

      &.visible
      {
        margin-left: 0;
      }
    }

    .children
    {
      overflow-y: auto;
    }

    .open
    {
      color: blue;
    }

    .view
    {
      width: 82%;
      padding: 2%;
      float: right;
    }

    .directory
    {
      .name
      {
        font-size: 1.2em;
      }
    }

    .directory,
    .file
    {
      display: block;
      padding: 0.5em 1em;
      border: 1px solid #eee;
      margin-bottom: 0.1em;
    }

    .directory
    {
      background-color: #fcefa1;
    }
  }

  .view-2
  {
    flex: 1 85%;

    & > *:last-child
    {
      display: none;

      &.open
      {
        display: block;
      }
    }
  }

}