
div.ajax-container {
  
  margin: 1em 0 2em 0;
}

form.ajax-container {
  
  position: absolute;
  
  opacity: 1;
  z-index: 10;
}

form.ajax-container .form-content {
  
  margin-top: 3em;
}

form.ajax-container .messages {
  
  font-size: 0.9em;
  position: relative;
  z-index: 15;
  top: 101%;
  width: 80%;
  left: 3%;
  margin: 0 auto 0 auto;
  padding:5px 10px 0 10px;
}

form.ajax-container .messages ul {
  opacity: 0.8;
  -moz-border-radius : 0 0 8px 8px;
}

.ajax-caller { position: relative; }

.ajax-bulle {
  
  width: 63px;
  height: 24px;
  position: absolute;
  background: url(/web/img/ajax_bgnd.png) no-repeat 2% 100%;
  bottom: -30px;
  left: -8px;
  z-index: 20;
}

.ajax-center .ajax-bulle { display: none; }

.ajax-title {
  position: absolute;
  padding: 0;
  z-index: 10;
  margin: 5px 0 0 10px;
  color: white;
  text-align: center;
  width: 100%;
}
.ajax-content, .ajax-shadow  {
  
  position: absolute;
  width: 100%;
  height: 100%;
  padding:5px 10px 0 10px;
  -moz-border-radius : 12px;
}

.ajax-shadow {
  
  top: 10px;
  left: 10px;
  background-color: black;
  opacity: 0.05;
  z-index: 5;
}

.ajax-content {
  
  background: url(/web/img/ajax_title_bgnd.png) repeat-x 50% 0;
  z-index: 8;
  border: 1px solid #dee0eb;
  background-color: white;
  border-bottom-color: #b2b3bc;
  border-right-color: #b2b3bc;
  -moz-shadow-direction: bottom-right;
  -moz-shadow-width: 10px;
  -moz-shadow-color- start: #000;
  -moz-shadow-opacity-start: 1.0;
  -moz-shadow-opacity-stop: 0;
}