/* Document CSS */

html, body { height: 100%; }
body { background: url(/web/img/body_bgnd.gif) repeat-x 0 0; }

table.list {
  width: 100%;
  border: 1px solid gray;
  border-bottom-color: gray;
  border-right-color: gray;
  border-collapse : collapse;
  clear: both;
}

table.list td, table.list th {
  padding: 2px 5px 2px 5px;
  border: 1px dotted #eee;
}

#header {
  width: 100%;
  height: 70px;
  background: url(/web/img/header_bgnd.jpg) no-repeat 0 0;
}

#header h1 {
  float: left;
  font-size: 1.6em;
  margin: 0;
  padding: 0.5em 0 0 1em;
  color: gray;
}

#sidebar {
}

#menu-primary {
  width: 100%;
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ddd;
  padding: 5px 0 5px 0;
  background-color: #efefef
}

#menu-primary li {
  -moz-border-radius : 4px 4px 4px 4px;
  display: inline;
  margin-left: 1em;
  padding: 2px 8px 2px 8px;
  list-style-type: square;
  white-space: nowrap;
}

#menu-primary li.item-current { background-color: white; }

#center {
  /* width: 970px; */
  min-height: 500px;
  margin-bottom: 1em;
  /* background: url(/web/img/sidebar_bgnd.gif) no-repeat 100% 0; */
}

/* Content */

#content {
  /* float: left; */
  width: 750px;
  padding: 10px 0 0 10px;
  margin: 0 auto 0 auto;
}

#content.error { background: url(/web/img/error.png) no-repeat 0 0; }
#content.access { background: url(/web/img/access.png) no-repeat 0 0; }

#user-info {
  float: right;
  color: gray;
  margin: 55px 5px 0 0;
  font-size: 0.85em;
}
