/* Document CSS */

table.list {
  width: 100%;
  border: 1px solid gray;
  border-bottom-color: gray;
  border-right-color: gray;
  border-collapse : collapse;
  clear: both;
}

table.list td, table.list th {
  padding: 2px 5px 2px 5px;
  border: 1px dotted #eee;
}

#window-mask {
  
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: none;
  opacity: 0.65;
}

/* Header */

#header {
  width: 100%;
  background: url(img/header_bgnd.png) repeat-x 0 100%;
  border-bottom: 1px solid #ddd;
}

#header h1 {
  float: left;
  font-size: 1.6em;
  width: auto;
  margin: 1em;
}

#header h1 a:hover { text-decoration: none; color: black; }
#header h1 img {
  float: left;
  margin-right: 1em;
}
#header h1 span {
  float: left;
  margin: 0;
  padding-top: 1em;
}

#user-info {
  float: right;
  color: gray;
  margin: 172px 5px 0 0;
  font-size: 0.85em;
}

#user-login {
  float: right;
  color: gray;
  margin: 3px 5px 0 0;
  font-size: 0.80em;
}

#browser-warning a { display: block }
#browser-warning a:hover { text-decoration: none; }
#browser-warning img { float: left; margin-right: 1em; }
#browser-warning span { display: block; float: left; margin-top: 5px; }
#browser-warning p { white-space: nowrap; width: 300px; }
#browser-warning {
  position: absolute;
  top: -50px;
  left: 50px;
  width: 30px;
  padding: 0.1em 1em 0.5em 1em;
  opacity: 0.65;
  text-align: justify;
  font-size: 0.9em;
  background-color: #666;
  color: white;
  border: 1px solid #777;
  border-bottom-color: #444;
  border-right-color: #444;
}

/* Sidebar */

#sidebar {
  float: left;
  width: 200px;
  margin-right: 1px;
}

#menu-primary {
  width: 100%;
  padding: 5px 0 5px 0;
}

#menu-primary li {
  -moz-border-radius : 4px 4px 4px 4px;
  margin-left: 2em;
  padding: 4px;
  list-style-type: square;
  white-space: nowrap;
}

#menu-primary li.item-current { font-weight: bold; }

#system {
  -moz-border-radius : 8px 8px 8px 8px;
  opacity: 0.9;
  border: 1px solid gray;
  margin-bottom: 1em;
  padding: 5px 5px 5px 20px;
  font-size: 0.9em;
  color: #888;
  border-color: #999;
  border-bottom-color: #666;
  border-right-color: #666;
}

#system li { 
  float: left;
  width: 130px;
  margin: 3px 0 3px 0;
  list-style-image: url(/web/img/puce_A_gray.png);
}

#system strong { display: block; }

#center {
  width: 970px;
  min-height: 500px;
  margin-bottom: 1em;
  background: url(/web/img/sidebar_bgnd.gif) no-repeat 162px 0; /* sidebar - 39px */
}

/* Content */

#content {
  float: left;
  width: 700px;
  padding: 10px 0 0 10px;
  margin: 0 auto 0 auto;
}

#content.error { background: url(/web/img/error.png) no-repeat 0 0; }
#content.access { background: url(/web/img/access.png) no-repeat 0 0; }

#user-info {
  float: right;
  color: gray;
  margin: 78px 5px 0 0;
  font-size: 0.85em;
}
