/* Document CSS */

body, h1, h2, ul, li { margin: 0; padding: 0; }
a img { border: 0; }

body {
	background-color: #afc1d3;
  font-size: 10px;
	font-family: Verdana;
}

a { color: #467ca2; }
a:hover { color: #ec8a23; }
a:visited { color: #575757; }
a:visited:hover { color: #ec8a23; }

#user-login {
  
  color:gray;
  font-size:10px;
  position:absolute;
  right:5px;
  top:2px;
  z-index:6;
  text-decoration: none;
}

#user-login:hover {
  
  color: white;
  text-decoration: underline;
}


#container {
	width: 900px;
	margin: 7px auto 12px auto;
  background-color: white;
}

/* ****** */
/* Header */
/* ****** */

h1 { font-size: 22px; }
h1 a { text-decoration: none; }

#header-title {
	font-weight: normal;
	text-shadow: 2px 2px 5px black;
	filter: Shadow(Color=#666666, Direction=135, Strength=2);
}

a:hover #header-title {
	text-shadow: 1px 1px 5px black;
	filter: Shadow(Color=#666666, Direction=135, Strength=1);
}

/* ****** */
/* Center */
/* ****** */

#center {
	min-height: 430px;
	/*padding-top: 110px;*/
  overflow: auto;
}

#col-left, #content, #col-right {
	float: left;
	padding: 22px 10px 22px 10px;
}

#col-left { width: 150px; }
#col-right { float: right; width: 150px; }

/* Content */

#content {
	min-height: 343px;
	width: 492px;
  text-align: justify;
}

h2 {
	height: 30px;
	padding-left: 4px;
	font-size: 18px;
	color: #467ca2;
}

#content-path {
	float: right;
	color: #858585;
	margin-top: 4px 2px 0 0;
}

#content-text {
	clear: both;
	padding: 27px 80px 12px 80px;
	color: #585858;
}

/* Secondary */

#col-left ul {
  padding-left: 10px;
  list-style-type: none;
}


#secondary, #admin {
	list-style-type: none;
}

#secondary a, #admin a {
	color: #585858;
	text-decoration: none;
}

#secondary a:hover, #admin a:hover { text-decoration: underline; }

#secondary .first {
	padding-bottom: 26px !important;
	font-size: 12px;
	font-weight: bold;
}

#secondary li.active a { font-weight: bold; }
#secondary a:visited { font-style: italic; }

/* ****** */
/* Footer */
/* ****** */

#footer {
	height: 20px;
	text-align: center;
	color: white;
	padding-top: 6px;
}

#footer a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

#footer a:hover { text-decoration: underline; }
