
@font-face
{
  font-family: 'CABNDRegular';
  src: url('/html/webfonts/20019D_3_0.eot');
  src: url('/html/webfonts/20019D_3_0.eot?') format('embedded-opentype'),url('/html/webfonts/20019D_3_0.woff') format('woff'),url('/html/webfonts/20019D_3_0.ttf') format('truetype');
}

#lemonav
{
  width: 100%;
  background: url('background.gif') repeat-x;
  font-family: CABNDRegular;
  font-weight: normal;
}

#lemonav > ul > li
{
  font-size: 20px;
  text-shadow:#333333 -1px -1px;
  text-transform: uppercase;
  display: block;
  float: left;
  border-width: 0 1px;
  border-right-color: #4d4d4d;
  border-left-color: #333333;
  border-style: solid;
}

#lemonav > ul > li.empty
{
  border-right: 0;
  text-indent: -9999px;
  height: 42px;
}

#lemonav > ul > li a,
#lemonav > ul > li a:hover
{
  color: #CBCBCB;
}

#lemonav > ul > li a
{
  display: block;
  height: 30px; /* 42 - p */
  padding: 12px 20px 0;
}

#lemonav > ul > li:not(.sylma-highlight) a:hover
{
  background-color: #4D4D4D
}

#lemonav > ul > li.sylma-highlight
{
  background-color: #f4f4f4;
  border-color: #f4f4f4;
}

#lemonav > ul > li.sylma-highlight a
{
  color: #333333;
  text-shadow: #FFFFFF 1px 1px;
}

#lemonav > ul > li:first-child.sylma-highlight {
  background-color: white;
}

#lemonav-logout
{
  background: url(logout.png) no-repeat;
  width: 44px;
  height: 42px;
  display: block;
  float: right;
}

#lemonav-logout:hover
{
  background-position: 0 -42px;
}