/* Document CSS */

.img-left {
  float: left;
  margin: 1em 1em 0 0;
}

.img-right {
  float: right;
  margin: 1em 0 0 1em;
}

.right { float: right; }
.left { float: left; }
.center { text-align: center; }

