/*
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
*/

body
{
  font-size: 12px;
  font-family: Arial;
  background-color: #f4f4f4;
}

a
{
  text-decoration: none;
}

#sidebar
{
  float: left;
  padding-top: 139px;
  width: 201px;
  margin-left: -100%;
  background: url('logo.png') no-repeat 20px 19px;
}

/*** Menu contenu ***/

#menu-content a
{
  display: block;
  padding: 14px 10px 14px 20px;
  border: 0 solid #CBCBCB;
  border-top-width: 1px;
  border-right-width: 1px;
}

#menu-content li:last-child a
{
  border-bottom-width: 1px;
}

#menu-content li.sylma-highlight a
{
  background-color: white;
  z-index: 1;
  position: relative;
  border-right: 0;
}

#menu-content a .title
{
  text-transform: uppercase;
  display:block;
  color: #333333;
}

#menu-content a:hover .title
{
  color: #005568;
}

#menu-content li.sylma-highlight .title
{
  color: #005568;
}

#menu-content a .description
{
  color: #CBCBCB;
}

#menu-content a:hover .description
{
  color: #333333;
}

#menu-content li.sylma-highlight .description
{
  color: #333333;
}

/*** Content ***/

#breadcrumb
{
  display: none;
}

#container
{
  float: left;
  width: 100%;
}
#containerWrapper
{
  margin-left: 200px;
}

#content
{
  position: relative;
  z-index: 0;
  padding: 22px 17px;
  background-color: white;
  border: 1px solid #CBCBCB;
  min-height: 600px;
}

a
{
  color: #00AFAD;
}

#content a:hover
{
  color: #ec008c;
}

#intro {
  margin-bottom: 3em;
}

h3
{
  text-transform: uppercase;
  font-weight: normal;
  display:block;
  color: #005568;
}

#intro h3
{
  margin-bottom: 0;
}

#intro h3 + *
{
  margin-top: 0;
}

/*** CRUD ***/

.button {
  display: block;
  padding: 5px;
  margin: 0 0 5px 5px;
  text-decoration: none !important;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  color: white;
  background-color: #a6c6cb;
  float: left;
  box-shadow: 2px 2px #ddd;
}

button.button
{
  height: 27px;
  border: 0;
}

#content a.button:hover
{
  color: white;
  background-color: #ec008c;
}

#content a.button:active
{
  color: #ec008c;
  background-color: white;
  box-shadow: 1px 1px #aaa;
}

.button.sylma-highlight
{
  cursor: default;
}

/*** List ***/

.sql-offre,
.sql-news
{
  width: 100%;
}

.sylma-form
{
  width: 600px;
}

.form-action
{
  float: left;
  margin-top: 1em;
  text-align: center;
  width: 100%;
}

.sylma-close
{
  background: url("/images/window_close.png") no-repeat scroll 0 0 transparent;
  border: 0 none;
  height: 26px;
  margin-left: 12px;
  margin-top: -39px;
  position: absolute;
  width: 26px;
  cursor: pointer;
}

.sylma-close:hover
{
  background-position: 0 -26px;
}

/* Admin big icones */

.big-icone {
  display: block;
  float: left;
  width: 175px;
  /*min-height: 35px;*/
  min-height: 100px;
  padding-top: 15px;
  margin-left: 10px;
  margin-top:1em;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 15px;
  -webkit-border-radius: 15px;
}

.big-icone:hover {
  -moz-box-shadow: 0 0 3px #CCCCCC;
  -webkit-box-shadow: 0 0 3px #CCCCCC;
}

.big-icone ul {
  margin: 15px 0 10px 35px;
  text-align: left;
  font-family: Tahoma;
}

.big-icone li a {
  display: block;
  height: 18px;
}

.big-icone p {
  color: gray;
  font-style: italic;
  padding: 0.5em;
  text-align: center;
}

.big-icone h4 {
  font-size: 1.4em;
  font-family: georgia;
  font-style: italic;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

#admin-main {
  width: 600px;
  margin: 3em auto 0 auto;
}

#admin-main > ul {
  float: none;
  text-align: center;
  margin-top: 6em;
}

#admin-main > ul li {
  display: inline;
  padding: 0 1em;
  border-right: 1px solid gray;
}

#admin-main ul li:last-child {
  border: 0;
}

#user-login {
    color: #DDDDDD;
    font-size: 10px;
    margin-top: 2px;
    position: absolute;
    right: 5px;
    text-decoration: none;
    z-index: 6;
}

#user-login:hover {
    color: #000000;
    text-decoration: underline;
}