/*
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
*/
@font-face
{
  font-family: 'CABNDRegular';
  src: url('/html/webfonts/20019D_3_0.eot');
  src: url('/html/webfonts/20019D_3_0.eot?') format('embedded-opentype'), url('/html/webfonts/20019D_3_0.woff') format('woff'), url('/html/webfonts/20019D_3_0.ttf') format('truetype');
}

body
{
  font-size: 12px;
  font-family: 'Open Sans';
  background-color: #f4f4f4;
}

a
{
  text-decoration: none;
}

#sidebar
{
  float: left;
  padding-top: 139px;
  width: 201px;
  margin-left: -100%;
  background: url('logo.png') no-repeat 20px 19px;
}

/*** Menu contenu ***/

#menu-content a
{
  display: block;
  padding: 14px 10px 14px 20px;
  border: 0 solid #CBCBCB;
  border-top-width: 1px;
  border-right-width: 1px;
}

#menu-content li:last-child a
{
  border-bottom-width: 1px;
}

#menu-content li.sylma-highlight a
{
  background-color: white;
  z-index: 1;
  position: relative;
  border-right: 0;
}

#menu-content a .title
{
  font-family: CABNDRegular;
  text-transform: uppercase;
  font-size: 20px;
  display:block;
  color: #333333;
}

#menu-content a:hover .title
{
  color: #005568;
}

#menu-content li.sylma-highlight .title
{
  color: #005568;
}

#menu-content a .description
{
  font-family: 'Open Sans';
  font-size: 13px;
  color: #CBCBCB;
}

#menu-content a:hover .description
{
  color: #333333;
}

#menu-content li.sylma-highlight .description
{
  color: #333333;
}

/*** Content ***/

#breadcrumb
{
  display: none;
}

#container
{
  float: left;
  width: 100%;
}
#containerWrapper
{
  margin-left: 200px;
}

#content
{
  position: relative;
  z-index: 0;
  padding: 22px 17px;
  background-color: white;
  border: 1px solid #CBCBCB;
  min-height: 600px;
}

a
{
  color: #00AFAD;
}

#content a:hover
{
  color: #ec008c;
}

#intro {
  margin-bottom: 3em;
}

h3
{
  font-family: CABNDRegular;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 20px;
  display:block;
  color: #005568;
}

#intro h3
{
  margin-bottom: 0;
}

#intro h3 + *
{
  margin-top: 0;
}

p
{
  font-family: 'Open Sans';
  font-size: 15px;
}

/*** CRUD ***/

.button {
  display: block;
  padding: 5px;
  margin: 0 0 0 5px;
  font-weight: bold;
  font-size: 1.1em;
  text-decoration: none !important;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  color: white;
  background-color: #a6c6cb;
  text-transform: uppercase;
  float: left;
}

button.button
{
  height: 32px; /* 26 */
  border: 0;
}

#content a.button:hover
{
  color: white;
  background-color: #ec008c;
}

#content a.button:active
{
  color: #ec008c;
  background-color: white;
}

.button.sylma-highlight
{
  cursor: default;
}

.pager {
  text-align: center;
  margin: 0.5em 0 0.5em;
  /*font-size: 1.2em;*/
}

.pager > div {
  width: 150px;
  margin: auto;
}

.pager-current,
.pager-total
{
  padding-left: 2px;
  padding-right: 2px;
}

.pager-separator
{
  padding: 0 3px;
}

/*** List ***/

.sql-offre,
.sql-news
{
  width: 100%;
}

.sylma-list
{
  border-collapse: collapse;
  transition: width 0.2s;
  -webkit-transition: width 0.2s;
}

.sylma-list th a
{
  padding: 1em 1.5em;
  display: block;
  font-family: CABNDRegular;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 15px;
  color: black;
}

.sylma-list th a:first-letter {
  text-transform: uppercase;
}

.sylma-list th a.sylma-highlight
{
  color: #ec008c;
  background: url('arrows.png') no-repeat;
  background-position: 100% 16px;
}

.sylma-list th a.order-desc {
  background-position: 100% -81px;
}

.sylma-list thead
{
  background-color: #f4f4f4;
}
.sylma-list tbody td
{
  padding: 0.5em;
  border-bottom: 1px solid #d6d6d6;
}

.sylma-list tbody tr
{
  transition: background 0.1s;
}
.sylma-list tbody tr:hover
{
  background-color: #e4f4f4;
  cursor: pointer;
}

.sylma-list td a.button
{
  padding-left: 8px;
  padding-right: 8px;
}

#content .sylma-list td.actions a:hover
{
  color: white;
  background-color: #ec008c;
}

.sylma-noresult
{
  text-align: center;
}

.sylma-form
{
  width: 600px;
}

.form-action
{
  float: left;
  margin-top: 1em;
  text-align: center;
  width: 100%;
}

.sylma-close
{
  background: url("/images/window_close.png") no-repeat scroll 0 0 transparent;
  border: 0 none;
  height: 26px;
  margin-left: 12px;
  margin-top: -39px;
  position: absolute;
  width: 26px;
  cursor: pointer;
}

.sylma-close:hover
{
  background-position: 0 -26px;
}

/* Admin big icones */

.big-icone {
  display: block;
  float: left;
  width: 175px;
  /*min-height: 35px;*/
  min-height: 100px;
  padding-top: 15px;
  margin-left: 10px;
  margin-top:1em;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 15px;
  -webkit-border-radius: 15px;
}

.big-icone:hover {
  -moz-box-shadow: 0 0 3px #CCCCCC;
  -webkit-box-shadow: 0 0 3px #CCCCCC;
}

.big-icone ul {
  margin: 15px 0 10px 35px;
  text-align: left;
  font-family: Tahoma;
}

.big-icone li a {
  display: block;
  height: 18px;
}

.big-icone p {
  color: gray;
  font-style: italic;
  padding: 0.5em;
  text-align: center;
}

.big-icone h4 {
  font-size: 1.4em;
  font-family: georgia;
  font-style: italic;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

#admin-main {
  width: 600px;
  margin: 3em auto 0 auto;
}

#admin-main > ul {
  float: none;
  text-align: center;
  margin-top: 6em;
}

#admin-main > ul li {
  display: inline;
  padding: 0 1em;
  border-right: 1px solid gray;
}

#admin-main ul li:last-child {
  border: 0;
}

#user-login {
    color: #DDDDDD;
    font-size: 10px;
    margin-top: 2px;
    position: absolute;
    right: 5px;
    text-decoration: none;
    z-index: 6;
}

#user-login:hover {
    color: #000000;
    text-decoration: underline;
}