AddDefaultCharset UTF-8

order deny,allow
allow from all

# Make it handle any 404 errors.
ErrorDocument 404 /web/img/error.png

<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !.+\.\w+$
  RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]
</IfModule>