@import "../../html/vars.less";

#sylma-todo-widget
{
  @height : 28 * @rem;
  @width : 94px;

  height: @height;
  float:right;
  overflow: hidden;
  right: 42px;
  z-index: 3;
  font-size: 12px;

  .content
  {
    background-color: #EEEEEE;
    width: 100%;
    font-family: Helvetica;
    font-size: 12px;
    padding-top: 5px;
  }

  .links
  {
    .center
    {
      margin: auto;
      width: 160px;
    }

    a
    {
      display: block;
      padding: 5px 1em;
      text-align: center;
      background-color: #CCCCCC;
      width: 50px;
      margin: 0 auto 5px;
      color: #444;
      font-weight: bold;
      box-shadow: 2px 2px 0px #ddd;
      float: left;
      margin-right: 5px;

      &:hover
      {
        background-color: #ddd;
      }
    }
  }

  .no-result
  {
    padding: 2em;
    text-align: center;
  }

  .count
  {
    color: white;
    background-color: @orange;
    display: block;
    float: right;
    font-size: 12 * @rem;
    text-transform: uppercase;
    text-align: center;
    height: @height;
    line-height: @height;
    padding: 0 20px;
    letter-spacing: 1 * @rem;
    &:hover
    {
      background-color: @rose;
    }
    
    span:not(:empty)
    {
      border-radius: 50%;
      background-color: @white;
      height: 20 * @rem;
      width: 20 * @rem;
      color: @orange;
      display: inline-block;
      line-height: 20 * @rem;
      margin-left: 5px;
    }
  }

  ul
  {
    list-style-type: none;
    border-top: 1px solid #ddd;
  }

  li
  {
    border: 0 solid white;
    border-width: 1px 0;
    border-bottom-color: #ddd;
  }

  .todo
  {
    display: block;
    width: 100%;
    padding: 5px;
    color: #444;
    box-sizing: padding-box;
    -moz-box-sizing: padding-box;
    -webkit-box-sizing: padding-box;

    &:hover
    {
      background-color: #ddd;
      color: black;
    }
  }
}

@media screen and (max-width: 460px)
{
  #sylma-todo-widget
  {
    position: absolute;
  }
}

.sql-todo .finished
{
  text-decoration: line-through;
  color: gray;
}


