
#sylma-todo-widget
{
  height: 0;
  width: 53px;
  background: url("setting_tools.png") no-repeat scroll right 13px top 8px / 27px auto;
  padding-top: 42px;
  float:right;
  overflow: hidden;
  right: 42px;
  z-index: 3;
  font-size: 12px;
}

@media screen and (max-width: 460px)
{
  #sylma-todo-widget
  {
    position: absolute;
  }
}

#sylma-todo-widget:hover,
#sylma-todo-widget.sylma-highlight
{
  height: auto;
  background-color: #4D4D4D;
  overflow: visible;
  position: absolute;
  width: 300px;
}

#sylma-todo-widget .content
{
  background-color: #EEEEEE;
  width: 100%;
  font-family: Helvetica;
  font-size: 12px;
  padding-top: 5px;
}

#sylma-todo-widget .links .center
{
  margin: auto;
  width: 160px;
}

#sylma-todo-widget .links a
{
  display: block;
  padding: 5px 1em;
  text-align: center;
  background-color: #CCCCCC;
  width: 50px;
  margin: 0 auto 5px;
  color: #444;
  font-weight: bold;
  box-shadow: 2px 2px 0px #ddd;
  float: left;
  margin-right: 5px;
}

#sylma-todo-widget .links a:hover
{
  background-color: #ddd;
}

#sylma-todo-widget .no-result
{
  padding: 2em;
  text-align: center;
}

#sylma-todo-widget .count
{
  color: white;
  display: block;
  float: right;
  font-size: 22px;
  margin-top: -33px;
  text-align: center;
  text-shadow: 1px 1px black;
  width: 53px;
}

#sylma-todo-widget ul
{
  list-style-type: none;
  border-top: 1px solid #ddd;
}

#sylma-todo-widget li
{
  border: 0 solid white;
  border-width: 1px 0;
  border-bottom-color: #ddd;
}

#sylma-todo-widget .todo
{
  display: block;
  width: 100%;
  padding: 5px;
  color: #444;
  box-sizing: padding-box;
  -moz-box-sizing: padding-box;
  -webkit-box-sizing: padding-box;
}

#sylma-todo-widget .todo:hover
{
  background-color: #ddd;
  color: black;
}

.finished
{
  text-decoration: line-through;
  color: gray;
}