.messages ul {
  -moz-border-radius : 8px 8px 8px 8px;
  opacity: 0.9;
  border-width: 1px;
  border-style: solid;
  margin: 0 0 1em 0 !important;
  padding: 5px;
  padding-left: 20px !important;
  font-size: 11px;
  /*background-color: #777 !important;*/
  color: #000;
  text-align: left;
}

.messages li {
  list-style-type: circle;
  list-style-image: url(/web/img/puce_A_black.png);
  margin: 3px 0 3px 0;
}

.messages a { color: gray; text-decoration: underline; }
.messages a:hover { color: black; text-decoration: none; }

.messages .hidden {
  color: gray;
  margin: 0 !important;
  background-color: #FFF6CF !important;
  padding: 2px;
  display: none;
  position: relative;
  z-index: 8;
}

.messages pre {
  overflow: auto;
}

.message-element {
  display: block;
  border : 1px dotted white;
  border-width: 0 0 2px 0;
  padding: 2px;
  margin: 2px 0 4px 0;
  color: gray;
}

.messages div.element { display: inline; }
.messages div.element pre { font-size: 1em; }
.messages div.element:hover { background-color: orange !important; cursor: default; }
.messages div.element:hover .hidden { display: block; }
/*.messages div.element .hidden:hover { display: none; }*/

.messages div.array.array {
  display: inline;
  border: 1px solid transparent;
}

.messages div.array.array-break {
  border: 0 solid #bbb;
  display: block;
  margin-left: 1em;
  padding-left: 0.5em;
  border-left-width: 1px;
}

.messages div.array:hover {
  border: 1px solid #aaa;
  margin: 1px 0 1px 0;
  border-width: 1px 4px 1px 4px;
}

/* Specials */

.messages-xml li:before { 
  font-weight: bold;
  content: 'XML : ';
}
/*
.messages-action li:before { 
  font-weight: bold;
  content: 'Action : ';
}
*/
.messages-file li:before { 
  font-weight: bold;
  content: 'Fichier : ';
}

.messages-query { font-family: lucida console; font-size: 0.8em !important; }
.query-string { color: gray; }
.query-number { color: red; font-style: italic; }
.query-as { text-decoration: underline; }
.query-keyword-1 { color: #FF652F }
.query-keyword-2 { color: blue; }

.messages-query, .messages-query-new {
  
  background-color: #eaedff;
  border-color: #cdd3fe;
  border-bottom-color: #a4a9cb;
  border-right-color: #a4a9cb;
}

.messages-query-old {
  background-color: #f1f2f7;
  border-color: #dee0eb;
  border-bottom-color: #b2b3bc;
  border-right-color: #b2b3bc;
}

/* Levels */

.message-report { 
  background-color: #faeaff;
  border-color: #f2ccff;
  border-bottom-color: #c2a3cc;
  border-right-color: #c2a3cc;
}

.message-success li { list-style-image: none; }
.message-success { 
  background-color: #ecfcee;
  border-color: #d2f8d6;
  border-bottom-color: #a8c6ab;
  border-right-color: #a8c6ab;
}

.message-notice {
  background-color: #fffaeb;
  border-color: #fef4cf;
  border-bottom-color: #cbc3a6;
  border-right-color: #cbc3a6;
}

.message-warning {
  background-color: #fff3ea;
  border-color: #ffe3cc;
  border-bottom-color: #ccb6a3;
  border-right-color: #ccb6a3;
}

.message-error li { list-style-image: none; list-style-type: square; }
.message-error { 
  background-color: #ffeaea;
  border-color: #ffcccc;
  border-bottom-color: #cca3a3;
  border-right-color: #cca3a3;
}

/* floating */


.messages-float ul {
  opacity: 1;
  left: 10px;
  top: 10px;
  width: 5px;
  height: 5px;
  padding-left: 8px !important;
  margin: 5px 0 5px 0 !important;
}

.messages-float ul > * { display: none;}

.messages-float ul:hover {
  width: auto;
  height: auto;
}

.messages-float ul:hover > * { display: block;}

