/* Document CSS */

.actions {
  padding: 1em;
}

.actions a {
  margin: 0 5px 0 5px;
  padding: 3px 6px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #888;
}

.actions a:hover,
.actions a:focus {
  border: 1px solid #ccc;
  padding: 2px 5px;
  border-top-color: #eee;
  border-left-color: #eee;
  text-decoration: none;
  color: black;
}

.list th a.current {
  color: #ec008c;
}

.pager {
  text-align: center;
  margin: 0.5em 0 0.5em;
  /*font-size: 1.2em;*/
}

.pager > div {
  width: 135px;
  margin: auto;
}

.button {
  color: white;
  background-color: #a6c6cb;
}

.button a {
  color: white;
}

.button a:hover { color: #ec008c; }

.pager-current,
.pager-total {
  padding-left: 2px;
  padding-right: 2px;
}

span.button {
  opacity: 0.5;
  padding-left: 5px;
  padding-right: 5px;
}

a.button:hover {
  color: white !important;
  background-color: #ec008c;
}

.tools {
  width: 90px !important;
}

.tools a {
  border: 1px solid white;
  display: block;
  float: left;
  line-height: 0;
  opacity: 0.65;
  padding: 2px;
}

.tools a:hover {
  border-radius: 4px;
  /*-moz-box-shadow: 0 0 4px #AAAAAA;*/
  border: 1px solid #AAAAAA;
  opacity: 1;
}  