
form {
  width: 600px;
  margin: auto;
}

.field {
  margin-bottom: 0.5em;
}

.field label {
  display: block;
  float: left;
  vertical-align: top;
  width: 30%;
}

.field-uneditable,
.field-input-element {
  float: left;
  padding: 2px;
}

.field-input-element {
  border: 1px solid gray;
  -moz-box-shadow: 2px 2px 5px #EEEEEE inset;
  -webkit-box-shadow: 2px 2px 5px #EEEEEE inset;
}

.field-input-element:focus {
  border-color: orange;
  -moz-box-shadow-: 2px 2px 5px #ccc inset;
}

.field input[type=text], .field textarea {
  width: 50%;
}

.field textarea {
  height: 100px;
}

.field-notice {
  color: gray;
  font-size: 1em;
  font-style: italic;
  text-align: right;
}

.field-notice strong {
  color: black;
  font-size: 1.2em;
}

.field-actions {
  border-top: 1px dotted #ddd;
  margin-top: 1em;
  padding-top: 1em;
  text-align: center;
}

.field-statut-optional {
  opacity: 0.65;
}

.field-statut-optional.field-complex {
  opacity: 1;
}

.field-statut-optional:hover {
  opacity: 1;
}

.field-statut-invalid > h3,
.field-statut-missing > h3,
.field-statut-invalid > label,
.field-statut-missing > label {
  color: red;
}

.field-statut-invalid > .field-input-element,
.field-statut-missing > .field-input-element {
  border: 1px solid red;
}

.field-statut-template {
  display: none;
  _color: green;
}

.field-message {
  position: absolute;
  float:left;
  margin-left:49%;
  padding:2px 10px;
  font-size:0.9em;
  border:1px solid #CCCCCC;
  -moz-border-radius:0 10px 0 10px;
  background-color:#EEEEEE;
}

.field-input-boolean {
  float: left;
  margin-left:30%;
  margin-right:2%;
  width: auto !important;
}

span.field-input-date {
  float: left;
  cursor: pointer;
}

div.field-multiple,
div.field-complex {
  margin-bottom: 5px;
}

div.field-multiple {
  padding: 10px;
  border: 1px solid #ccc;
  border-width: 1px 0 0 1px;
  -moz-border-radius: 10px 0 15px 15px;
  -moz-box-shadow: -2px -2px 5px #EEEEEE;
}

div.field-complex {
}

#content div.field-complex h3 {
  margin: 1em 0 0.5em;
  text-align: center;
  text-shadow: 2px 3px 1px #eee;
}


