
.field {
  margin-bottom: 5px;
  border-top: 1px dashed #ccc;
  padding-top: 5px;
  _float: left;
  width: auto;
}

.field label {
  display: block;
  float: left;
  vertical-align: top;
  width: 30%;
  font-weight: bold;
}

.field-complex {
  border-top: 0;
  border-left: 1em solid #eee;
  padding-left: 2em;
}

.field-content {
  float: left;
  width: 68%;
}

pre.field-content {
  border: 1px dotted #DDDDDD;
  margin-left: -5px;
  overflow: hidden;
  padding: 5px;
  white-space: pre-wrap;
}

.field-statut-optional {
  opacity: 0.65;
}

.view-message {
  position: absolute;
  float:left;
  margin-left:49%;
  padding:2px 10px;
  font-size:0.9em;
  -moz-box-shadow: 1px 1px 2px #444444;
  border-radius:0 10px 0 10px;
  background-color:#EEEEEE;
  margin-top: -2px;
}

.view-message-root {
  position: relative;
  margin: 1em auto 1em auto;
  width: 50%;
  float: none;
}
