
.list
{
  &.visible 
  {
    tr.orders th:first-child,
    tr.filters th:first-child
    {
      background-color: @blue1 !important;
    }
  
    .filters
    {
      background-color: @blue1;
      
      th
      {
        border-top: 0;
      }
      
      .filter-container
      {
        min-width: 50 * @rem;
        
        &:hover .add,
        .add:focus
        {
          opacity: 1;
          visibility: visible;
          max-height: 3em;
          margin-bottom: 5px;
        }
      }

      .foreign 
      {
        .label.visible
        {
          max-height: @filter-h + 5 * @em;
          line-height: 25px;
        }
        label
        {
          color: @white;
        }
      }
    }
  }
  
  .filters
  {
    position: relative;
    width: 100%;
    margin-bottom: 0.5em;
    background-color: #f4f4f4;
    
    th
    {
      border-top: white 2px solid;
      padding: 0;
    }
    
    input[type=text]
    {
      width: 100%;
      padding: 0 0.2em;
      border: 0;
      position: relative;
    }

    input[type=text]
    {
      padding-left: @op-w + 0.25em;
    }

    &.hidder
    {
      opacity: 1;
      max-height: 0;
    }

    th .filter-container
    {
      .filter.visible
      {
        margin-top: 4 * @rem;
      }
    }
    
    .filter-container
    {
      box-sizing: border-box;
      padding: 0 0.1em;
      /*min-height: 1px;*/
      position: relative;
      vertical-align: top;  
      
      &.title a
      {
        display: inline;
      }
      
      .add
      {
        max-height: 0;
        position: absolute;
        opacity: 0;
        padding: 2px 6px;
        cursor: pointer;
        transition: all 0.2s;
        border: 0;
        font-size: 16 * @rem;
        left: 50%;
        transform: translate(-50%, 0%);
        color: @white;
        line-height: 18 * @rem;
        background-color: @blue2;
        margin-top: -4px;
        
        &:hover
        {
          background-color: @rose;
        }

        &:active
        {
          color: white;
          background-color: #a6c6cb;
        }
      }

      .filter
      {
        white-space: nowrap;
        max-height: 0;

        &.template
        {
          display: none;
        }

        &.visible
        {
          max-height: 3em;
          margin-bottom: 4 * @rem;
        }

        .field
        {
          padding-right: 0;
          float: none;
        }

        .operator
        {
          position: absolute;
          line-height: @filter-h;
          width: 15 * @rem;
          text-align: center;
          cursor: pointer;
          color: @gray2;
          z-index: 1;
          background-color: @gris1;
          
          &:hover
          {
            color: black;
          }
        }
      }

      .field-date
      {
        margin: 0;
      }

      &.foreign
      {
        
        .label
        {
          display: inline-block;
          line-height: 2.5em;
          text-align: center;
          color: @white;
          font-weight: normal;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.5s, line-height 0.5s;
        }

        .close
        {
          display: block;
          position: absolute;
          margin: 0;
          right: 0;
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.5s, visibility 0.5s;
          padding: 0.2em;
          line-height: initial;
          z-index: 2;
          color: @gray2;

          &:hover
          {
            opacity: 1 !important;
          }
        }

        .foreign-value
        {
          float: left;
          margin: 0;
        }

        label
        {
          font-weight: normal;
        }

        .filter
        {
          overflow: hidden;
          margin-bottom: 0;
          
          &.visible
          {
            max-height: 2em;
          }

          &.empty
          {
            max-height: 0;
          }

          &:first-child
          {
            margin-top: 0.5em;
          }

        }

        &:hover
        {
          .close
          {
            opacity: 0.8;
            visibility: visible;
          }

          .label.visible
          {
            max-height: 0;
          }

          .filter
          {
            height: auto;
          }
          .empty
          {
            opacity: 1;
            visibility: visible;
            max-height: 3em;
          }
        }
      }
    }
  }
}
