
@import '/sylma/modules/html/vars.less';

.list
{
  .actions
  {
    overflow: hidden;
    margin-bottom: 0.5em;
  }
  
  @actions-height: 20 * @rem;
  
  div.actions .button
  {
    box-sizing: border-box;
    border: 1px solid;
    height: @actions-height;
    line-height: @actions-height;
    float: left;
    margin-right: 0.5em;
    padding: 0 0.5em;
  }
  
  .search
  {
    position: relative;
    float: left;
    
    input
    {
      width: 15em;
      padding-left: 1.5em;
    }
    
    .icon
    {
      position: absolute;
      top: 0;
      left: 0.3em;
      opacity: 0.2;
      height: @actions-height;
      line-height: @actions-height;
    }
    
    input:focus + .close + .icon
    {
      opacity: 1;
      color: @orange;
    }
  }
  
  .value
  {
    max-height: 2.5em;
    overflow: hidden;
  }
  
  .close
  {
    position: absolute;
    font-weight: bold;
    line-height: 22 * @rem;
    top: 0;
    right: 0.25em;
    opacity: 0.15;

    &:hover
    {
      opacity: 0.35;
      cursor: pointer;
    }
  }
  
  table
  {
    border-collapse: collapse;
    clear: both;
    position: relative;
    min-width: 30em;
    
    th
    {
      &:first-child
      {
        text-align: center;
        height: 100%;
        background-color: @orange;
        vertical-align: middle;
        min-width: 25 * @rem;
        
        &:not(.filter-container):hover
        {
          .button
          {
            color: @rose !important;
          }
        }
        .button
        {
          height: 100%;
          width: 100%;
          box-sizing: border-box;
          padding: 0.5em;
          color: @white;
          display: inline;
          
          &:hover
          {
            background-color: inherit !important;
          }
        }
      }

      .order
      {
        display: block;
        color: #000000;
        font-weight: bold;
        padding: 6px 6px;

        &:first-letter {
          text-transform: uppercase;
        }

        &.sylma-highlight
        {
          color: @green;
          background: url('arrows.png') no-repeat;
          background-position: 100% 16px;
        }

        &.order-desc {
          background-position: 100% -81px;
        }
      }
    }

    thead
    {
      background-color: #f4f4f4;
    }

    tbody
    {
      td
      {
        padding: 0.2em 0.5em;
        border-bottom: 1px solid @gris1;

        &:first-child
        {
          text-align: center;
          white-space: nowrap;
        }
      }
      
      tr
      {
        transition: background 0.1s;
        color: @gris;
        
        &:nth-child(2n)
        {
          background-color: #fcfcfc;
        }
        
        &:nth-child(n):not(:last-child):hover
        {
          background-color: #e4f4f4;
          cursor: pointer;
        }
      }
    }
    
    .count
    {
      position: absolute;
      right: 0;
      top: -2em;
      border: 0;
      
      &:hover
      {
        background-color: inherit;
        cursor: default;
      }
      
      td
      {
        border: 0;
      }
      
      .value
      {
        font-weight: bold;
        color: @blue1;
      }
      
    }

    td
    {

      &.actions .button
      {
        font-size: 0.9em;
        &:hover
        {
          color: @rose !important;
          background-color: inherit !important;
        }
      }
    }
  }
}

.pager {
  text-align: center;
  margin: 0.5em 0 0.5em;
  cursor: default;

  .button
  {
    padding: 0 1em;

    &.form-disable
    {
      border: none;
      pointer-events: none;
      color: @gris;
    }
    &:hover
    {
      background-color: inherit !important;
      color: @rose !important;
    }
  }

  & > div {

    display: inline-block;
  }

  .button,
  .infos
  {
    display: inline-block;
    line-height: 2.5em;
    height: 2.5em;
  }

  .page
  {
    padding: 0.2em 0.5em;

    &.form-disable
    {
      color: @gray3 !important;
      cursor: default;
    }
  }

  .infos
  {
    *
    {
      font-size: 1.5em;
    }
  }

  @p1: 0.25em;
  @p2: 0.5em;

  .current
  {
    font-weight: bold;
    color: @orange;
  }

  .separator
  {
    color: @gray3;
  }

  .total
  {
    padding: @p1 @p2 @p1 @p1;
  }
}

.sylma-noresult
{
  text-align: center;
}
