
@import '/sylma/modules/html/vars.less';

.list
{
  .actions
  {
    overflow: hidden;
    margin-bottom: 1em;
  }
  
  div.actions .button
  {
    border: 1px solid;
  }
  
  table
  {
    border-collapse: collapse;
    clear: both;

    th
    {
      &:first-child
      {
        text-align: center;
        height: 100%;
        background-color: @orange;
        
        &:not(.filter-container):hover
        {
          background-color: @rose !important;
        }
        .button
        {
          height: 100%;
          width: 100%;
          box-sizing: border-box;
          padding: 0.5em;
          color: @white;
          line-height: 16 * @rem;
          &:hover
          {
            background-color: inherit !important;
          }
        }
      }

      .order
      {
        display: block;
        color: #000000;
        font-weight: bold;
        padding: 6px 6px;

        &:first-letter {
          text-transform: uppercase;
        }

        &.sylma-highlight
        {
          color: @green;
          background: url('arrows.png') no-repeat;
          background-position: 100% 16px;
        }

        &.order-desc {
          background-position: 100% -81px;
        }
      }
    }

    thead
    {
      background-color: #f4f4f4;
    }

    tbody
    {
      td
      {
        padding: 0.2em 0.5em;
        border-bottom: 1px solid @gris1;

        &:first-child
        {
          text-align: center;
          white-space: nowrap;
        }
      }
      tr
      {
        transition: background 0.1s;
        color: @gris;
        
        &:nth-child(2n+0)
        {
          background-color: #fcfcfc;
        }
        
        &:hover
        {
          background-color: #e4f4f4;
          cursor: pointer;
        }
      }
    }

    td
    {

      &.actions .button
      {
        font-size: 0.9em;
        &:hover
        {
          color: @rose !important;
          background-color: inherit !important;
        }
      }
    }
  }
}

.pager {
  text-align: center;
  margin: 0.5em 0 0.5em;
  cursor: default;

  .button
  {
    padding: 0 1em;

    &.form-disable
    {
      border: none;
      pointer-events: none;
      color: @gris;
    }
    &:hover
    {
      background-color: inherit !important;
      color: @rose !important;
    }
  }

  & > div {

    display: inline-block;
  }

  .button,
  .infos
  {
    display: inline-block;
    line-height: 2.5em;
    height: 2.5em;
  }

  .page
  {
    padding: 0.2em 0.5em;

    &.form-disable
    {
      color: @gray3 !important;
      cursor: default;
    }
  }

  .infos
  {
    *
    {
      font-size: 1.5em;
    }
  }

  @p1: 0.25em;
  @p2: 0.5em;

  .current
  {
    padding: @p1 @p1 @p1 @p2;
    font-weight: bold;
  }

  .separator
  {
    color: @gray3;
  }

  .total
  {
    padding: @p1 @p2 @p1 @p1;
  }
}

.sylma-noresult
{
  text-align: center;
}
