AddDefaultCharset UTF-8

order deny,allow
allow from all

<FilesMatch "\.(php|po|sh|.*sql|svn-base|yml|sylma*)$|^(Entries.*|Repository|entries|wpad.dat|favicon.ico)$">
  Order allow,deny
</FilesMatch>

<FilesMatch "index.php">
  allow from all
</FilesMatch>

RedirectMatch 403 ^/protected/.*$
RedirectMatch 403 ^/cache/.*$
RedirectMatch 403 ^/trash/.*$

#ErrorDocument 404 /web/img/error.png
#ErrorDocument 403 /error/access

<IfModule mod_rewrite.c>
  RewriteEngine on

  RewriteCond %{REQUEST_URI} ^/sylma/modules/users/login$
  RewriteCond %{HTTPS} =off
  RewriteRule ^(.+)$ https://%{HTTP_HOST}/sylma/modules/users/login [L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  #RewriteCond %{REQUEST_URI} !.+\.\w+$
  RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]
</IfModule>