/* Admin Infos */


#admin-infos {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 5px;
  height: 5px;
  padding: 8px;
  border: 1px solid gray;
  text-align: center;
  -moz-border-radius: 2px;
  background-color: #eee;
  z-index: 10;
  font-size: 10px;
}

#admin-infos:hover { width: auto; min-width: 550px; height: auto; }

#admin-infos > * { display: none; }
#admin-infos:hover > * { display: block; }

#system {
  text-align: left;
  -moz-border-radius : 8px;
  /*opacity: 0.9;*/
  padding: 5px 5px 5px 20px;
  font-size: 1em;
  color: #888;
  width: 600px;
  /*background-color: #222;*/
  /*border: 1px solid gray;
  border-color: #999;
  border-bottom-color: #666;
  border-right-color: #666;*/
}

#system li { 
  float: left;
  width: 140px;
  margin: 3px 0 3px 0;
  min-height: 5em;
  list-style-image: url(/web/img/puce_A_gray.png);
}

#system strong { display: block; }


#msg-actions a.old-file { color: gray; }

#msg-actions .msg-action-label {
  float: left;
}

#msg-actions > * { float: left; }

#msg-actions .msg-action-hidden {
  
  float: left;
  height: 14px;
  width: 14px;
  border: 1px dotted gray;
  -moz-border-radius: 10px;
  text-align: left;
  margin: 1px 0 0 5px;
  background-color: #dfdfdf;
}

#msg-actions .msg-action-variables { background-color: #B4D3AF; }
#msg-actions .msg-action-arguments { background-color: #A1A1D5; }
#msg-actions .msg-action-hidden > span { color: white; padding-left: 4px; }
#msg-actions .msg-action-files > span { color: gray; }

#msg-actions .msg-action-hidden > * { display: none; }
#msg-actions .msg-action-hidden > span { display: inline; }

#msg-actions .msg-action-hidden:hover { width: auto; height: auto; padding: 5px; position: relative; background-color: #dfdfdf; }
#msg-actions .msg-action-hidden:hover > * { display: block; }
#msg-actions .msg-action-hidden:hover > span { display: none; }

#msg-actions .msg-action-weights, #msg-actions .msg-action-sub-weights {
  float: left;
  clear: left;
  margin-left: 0;
  margin-right: 2px;
}

#msg-actions .msg-action-weights, #msg-actions .msg-action {
  margin-top: 5px;
}

#msg-actions .msg-action-stat {
  float: left;
  border: 1px solid gray;
  border-left: 0;
  width: 10px;
  height: 2em;
  text-align: center;
  font-size: 10px;
  cursor: default;
  color: #888888;
}

#msg-actions .msg-action-sub-weights > div:first-child, #msg-actions .msg-action-weights > div:first-child {
  border-left: 1px solid gray;
}

#msg-actions .msg-action-sub {
}

#msg-actions .msg-action + .msg-action { clear: left; }
#msg-actions .msg-action {
  float: left;
  clear: right;
  border: 1px solid gray;
  border-width: 1px 0 0 1px;
  padding: 2px;
  padding-right: 0;
}

/* Hidden Elements */

#admin-infos pre.hidden {
  color: gray;
  margin: 0 !important;
  background-color: #FFF6CF !important;
  padding: 2px;
  display: none;
  position: relative;
  z-index: 8;
  width: 500px;
  overflow: auto;
}

#admin-infos div.element { display: inline; }
#admin-infos div.element pre { font-size: 1em; }
#admin-infos div.element:hover { background-color: orange !important; cursor: default; }
#admin-infos div.element:hover .hidden { display: block; }
